@import "./base.css";

/*
    z-index overvieuw:
    ------------------
    Pokédex: 0
    Pokédex sort overlay: 1
    Team && Favourites: 10-20 (they switch)
    Pokemon details: 30
*/

/*------ HEADER ------*/
.header{
    display: flex;
    justify-content: center;
    color: var(--white);
    transition:background 0.5s;
    width: 100%;
    position: fixed;
    top: 0;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .header {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

.header .shaveron{  
    font-size: 24px;
}

.header h5{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 0 5px;
}

.header-content, .header-content-full{
    width: 100%;
    padding: 55px 17px 11px 10px;
}

.header-content{
    max-width: var(--content-width);
}

.content-block{
    display: flex;
    justify-content: center;
}

.list-content{
    width: 100%;
    max-width: var(--content-width);
    padding: 0px 16px 35px 16px;
}

.header-filler{
    height: 88px;
    width: 100%;
}

/*------ GENERAL -------*/
.h-fit{
    height: fit-content;
}

.mt-5px, .my-5px{
    margin-top: 5px;
}

.mb-5px, .my-5px{
    margin-bottom: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-lg{/*change page-button*/
    height: 44px;
    width: 100%;
    max-width: 343px;
    border-radius: 50px;
    border: none;
    color: var(--white);;
    background: var(--color-dark);
}

.shadow-soft{
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
}

/*------ FONT TYPES -------*/
.text-gradient-green{
    background: -webkit-linear-gradient(#65CB9A 0%, #15D0DC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Titles */
.text-regular {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--black);
}

.text-moveset {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-dark);
}

.title-dark {
    color: var(--color-dark);
}

.title-light {
    color: var(--white);
}

.title-dark,
.title-light {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}

/* Pokemon name text */
.sub-title, .btn-lg {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

/* Sub-title text */
.small-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--white);
}

/* Muted text */
.muted {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-muted);
}

/* Text from sorting menu options */
.sort-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--black);
}

/* Pokemon type text */
.pokemon-type {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    border-radius: 100px;
    padding: 3px 10px 4px 10px;
}

.pokemon-type + .pokemon-type{
    margin-left: 5px;
}

/**/
.bg-muted{
    background: var(--bg-muted);
}

.bg-white{
    background: var(--white);
}

.bg-black{
    background: var(--black);
}

.color-white{
    color: var(--white);
}

.color-black{
    color: var(--black);
}

.low-stat{
    background: var(--bg-low-stat);
}
.high-stat{
    background: var(--bg-high-stat);
}

/*------ TYPE COLORS ------*/
.type-grass {
    background: var(--type-grass);
}
.type-poison {
    background: var(--type-poison);
}

.type-water {
    background: var(--type-water);
}

.type-ghost {
    background: var(--type-ghost);
}

.type-normal {
    background: var(--type-normal);
}

.type-fire {
    background: var(--type-fire);
}

.type-psychic {
    background: var(--type-psychic);
}

.type-fairy {
    background: var(--type-fairy);
}

.type-flying {
    background: var(--type-flying);
}

.type-bug {
    background: var(--type-bug);
}

.type-ground {
    background: var(--type-ground);
}

.type-rock {
    background: var(--type-rock);
}

.type-electric {
    background: var(--type-electric);
}

.type-fighting {
    background: var(--type-fighting);
}

.type-steel {
    background: var(--type-steel);
}

.type-ice {
    background: var(--type-ice);
}

.type-dragon {
    background: var(--type-dragon);
}

/*------ GRADIENTS ------*/
.bg-none{background: rgba(0, 0, 0, 0)!important;}

.gradient-purple{background: var(--gradient-purple);}
.gradient-purple .header{background: rgba(var(--dark-purple), var(--darken-opacity))}

.gradient-green{background: var(--gradient-green);}
.gradient-green .header{background: rgba(var(--dark-green), var(--darken-opacity))}

.gradient-grass{background: var(--gradient-grass);}
.gradient-grass .header{background: rgba(var(--dark-grass), var(--darken-opacity))}

.gradient-fire{background: var(--gradient-fire);}
.gradient-fire .header{background: rgba(var(--dark-fire), var(--darken-opacity))}

.gradient-poison{background: var(--gradient-poison);}
.gradient-poison .header{background: rgba(var(--dark-poison), var(--darken-opacity))}

.gradient-water{background: var(--gradient-water);}
.gradient-water .header{background: rgba(var(--dark-water), var(--darken-opacity))}

.gradient-normal{background: var(--gradient-normal);}
.gradient-normal .header{background: rgba(var(--dark-normal), var(--darken-opacity))}

.gradient-psychic{background: var(--gradient-psychic);}
.gradient-psychic .header{background: rgba(var(--dark-psychic), var(--darken-opacity))}

.gradient-fairy{background: var(--gradient-fairy);}
.gradient-fairy .header{background: rgba(var(--dark-fairy), var(--darken-opacity))}

.gradient-flying{background: var(--gradient-flying);}
.gradient-flying .header{background: rgba(var(--dark-flying), var(--darken-opacity))}

.gradient-bug{background: var(--gradient-bug);}
.gradient-bug .header{background: rgba(var(--dark-bug), var(--darken-opacity))}

.gradient-ground{background: var(--gradient-ground);}
.gradient-ground .header{background: rgba(var(--dark-ground), var(--darken-opacity))}

.gradient-rock{background: var(--gradient-rock);}
.gradient-rock .header{background: rgba(var(--dark-rock), var(--darken-opacity))}

.gradient-electric{background: var(--gradient-electric);}
.gradient-electric .header{background: rgba(var(--dark-electric), var(--darken-opacity))}

.gradient-fighting{background: var(--gradient-fighting);}
.gradient-fighting .header{background: rgba(var(--dark-fighting), var(--darken-opacity))}

.gradient-steel{background: var(--gradient-steel);}
.gradient-steel .header{background: rgba(var(--dark-steel), var(--darken-opacity))}

.gradient-ice{background: var(--gradient-ice);}
.gradient-ice .header{background: rgba(var(--dark-ice), var(--darken-opacity))}

.gradient-dragon{background: var(--gradient-dragon);}
.gradient-dragon .header{background: rgba(var(--dark-dragon), var(--darken-opacity))}



@media only screen and (max-width: 750px) {
}

@media screen and (min-width: 750px) {
    .mobile-only {
        display: none!important;
    }
}

@media screen and (max-width: 1124px) {
    .ipad-only{
        display: none;
    }
}