@import "./base.css";

/*
    z-index overvieuw:
    ------------------
    Pokédex: 0
    Pokédex sort overlay: 1
    Team && Favourites: 10-20 (they switch)
    Pokemon details: 30
*/

/*------ HEADER ------*/
.header{
    opacity: .8;
    padding: 55px 17px 9px 9px;
    color: var(--white);
    margin: 0 -16px;
    transition: 0.5s;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .header {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }

.header .shaveron{  
    font-size: 24px;
}

.header h5{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 0 5px;
}

/*------ GENERAL -------*/
.h-fit{
    height: fit-content;
}

.mt-5px, .my-5px{
    margin-top: 5px;
}

.mb-5px, .my-5px{
    margin-bottom: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-set{/*change page-button*/
    height: 44px;
    width: 100%;
    border-radius: 50px;

    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: var(--white);
    background: var(--color-dark);
}

/*------ FONT TYPES -------*/
.text-gradient-green{
    background: -webkit-linear-gradient(#65CB9A 0%, #15D0DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Titles */
.title-dark {
    color: var(--color-dark);
}

.title-light {
    color: var(--white);
}

.title-dark,
.title-light {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}

/* Pokemon name text */
.sub-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: var(--black);
}

/* Sub-title text */
.small-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--white);
}

/* Muted text */
.muted {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-muted);
}

/* Text from sorting menu options */
.sort-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--black);
}

/* Pokemon type text */
.pokemon-type {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    border-radius: 100px;
    padding: 3px 10px 4px 10px;
}

.pokemon-type + .pokemon-type{
    margin-left: 5px;
}

/*------ TYPE COLORS ------*/
.type-grass {
    background: var(--type-grass);
}
.type-poison {
    background: var(--type-poison);
}

.type-water {
    background: var(--type-water);
}

.type-ghost {
    background: var(--type-ghost);
}

.type-normal {
    background: var(--type-normal);
}

.type-fire {
    background: var(--type-fire);
}

.type-psychic {
    background: var(--type-psychic);
}

.type-fairy {
    background: var(--type-fairy);
}

.type-flying {
    background: var(--type-flying);
}

.type-bug {
    background: var(--type-bug);
}

.type-ground {
    background: var(--type-ground);
}

.type-rock {
    background: var(--type-rock);
}

.type-electric {
    background: var(--type-electric);
}

.type-fighting {
    background: var(--type-fighting);
}

.type-steel {
    background: var(--type-steel);
}

.type-ice {
    background: var(--type-ice);
}

.type-dragon {
    background: var(--type-dragon);
}

/*------ GRADIENTS ------*/
.bg-none{background: rgba(0, 0, 0, 0)!important;}

.gradient-purple{background: var(--gradient-purple);}
.gradient-purple .header{background: rgba(119, 184, 131, 0.8);}

.gradient-green{background: var(--gradient-green);}
.gradient-green .header{background: rgba(119, 184, 131, 0.8);}